<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
<h2>Ваша корзина</h2>
<h4><a th:href="@{/user/personAccount}">вернуться к покупкам</a></h4>

    <div th:each="product : ${cart_product}" class="card mb-2  mt-3 p-5" style="max-width: 400px" >
        <img th:src="'/static/img/' + ${product.imageList[0].getFileName()}" width="auto" height="300px">
        <div class="card-body">
            <p class="card-text"><a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a></p>
            <div class="d-flex justify-content-between align-items-center">
                <p th:text="'Цена: ' + ${product.getPrice()}"></p>
                <p><a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить из корзины</a></p>
            </div>
        </div>
    </div>

<h3 th:text="'Общая сумма:'+ ${price}"></h3>
<a href="/order/create">Оформить заказ</a>
</body>
</html>