<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
</head>
<body>
<!--name, description, price, weight, actionDate, EXP_date, category-->


    <p th:text="'Артикул товара:' + ${product.getId()}"></p>
    <p th:text="'Наименование:' + ${product.getTitle()}"></p>
    <p th:text="'Категория:' + ${product.getCategory().getName()}"></p>
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/static/img/' + ${img.getFileName()}">
    </div>
    <p th:text="'Описание:' + ${product.getDescription()}"></p>
    <p th:text="'Вес:' + ${product.getWeight()}"></p>
    <p th:text="'Дата изготовления:' + ${product.getActionDate()}+ 'год'"></p>
    <p th:text="'Срок годности:' + ${product.getEXP_date()}"></p>
    <p th:text="'Цена:' + ${product.getPrice()}+ 'рублей'"></p>


</body>
</html>